<h1>Church Page for <%= @church.name %></h1>

<p> <img><%= @church.picture %></img> </p>
<p>Link: <%= link_to 'official web site', @church.web_site %></p>
<p>Church Description: <%= @church.description %> </p>

<% if logged_in? %>
<%= button_to "Attend this church", user_path(current_user, church_id: @church.id), { method: :patch} %>

<%end%>

<ol>
  <% @church.services.each do |services| %>
    <div class = "service<%= services.id %>" >
      <li><%= link_to "Service Page", service_path(services) %> </li>    
      <ul>
        <li>Location:<%=services.location%></li>
        <li>Day of Week: <%= services.day_of_week %> </li>
        <li>Start time: <%= services.start_time %> </li>
        <li>Finish time: <%= services.finish_time %> </li>
      </ul>
  </div>
  <%end%>
</ol>


<p>Attendees List</p>
<ol>
  <% @church.users.each do |attendees| %>
    <div class = "user<%= attendees.id %>" >
      <li><%= link_to attendees.name, user_path(attendees) %></li> 
    </div>
  <%end%>
</ol>
