<p><%= f.label :date %>:
  <%= f.text_field :date %></p>

<p><%= f.label :vehicle %>:
  <%= f.text_field :vehicle %></p>

<p><%= f.label :leave_time %>:
  <%= f.text_field :leave_time %></p>

<p><%= f.label :return_time %>:
  <%= f.text_field :return_time %></p>

<p><%= f.label :number_of_seats %>:
  <%= f.text_field :number_of_seats %></p>

<p><%= f.label :seats_available %>:
  <%= f.text_field :seats_available %></p>

<p><%= f.label :meeting_location %>:
  <%= f.text_field :meeting_location %></p>

