<h1><%= link_to @ride.user.name, user_path(@ride.user) %> is offering a ride to <%= @ride.service.church.name %> on <%= @ride.date %> </h1>

<p>The service location is: <%= @ride.service.location %> </p>
<p>This ride is leaving at: <%= @ride.leave_time %> and return at: <%= @ride.return_time %> from: <%= @ride.meeting_location %></p>

<p>There are <%= @ride.seats_available %> seats avalible in the <%= @ride.vehicle %></p>


<% if logged_in? %>
<%= button_to "Claim ride", user_path(current_user, ride_id: @ride.id), { method: :patch} %>
<%end%>

